<div layout="row" layout-sm="column" ng-show="loading" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div class="container" ng-show="!loading">

<div class="row">
    <div id="monthly-move-chart">

        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div id="monthly-volume-chart">
    </div>
</div>

<div class="row">
    <div>
        <div class="dc-data-count">
            
        </div>
    </div>
    <table class="table table-hover dc-data-table">
    </table>
</div>

<div class="clearfix"></div>
</div>